<a href="https://colab.research.google.com/github/tasnim-shamsuddin/Deep-Learning-/blob/main/DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
print(tf.__version__)

2.19.0

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df=pd.read_csv("/content/aps_data.csv")

/tmp/ipython-input-1916298888.py:1: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/aps_data.csv")

In [4]:
! git clone https://github.com/tasnim-shamsuddin/Deep-Learning-.git

Cloning into 'Deep-Learning-'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 15 (delta 1), reused 9 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (15/15), 13.20 KiB | 13.20 MiB/s, done.
Resolving deltas: 100% (1/1), done.

In [5]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [6]:
df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [7]:
df.replace("na",np.nan)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,NaN,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,NaN,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,NaN,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,neg,31394,NaN,0,NaN,0,0,0,0,0,...,393008,207182,367634,267778,106778,48688,57146,638,0,0
4996,neg,1598,NaN,0,NaN,0,0,0,0,0,...,5298,3164,9710,47042,2296,1098,3288,272,0,0
4997,neg,42,2,2130706454,56,0,0,0,0,0,...,660,272,334,76,14,0,0,0,0,0
4998,neg,32752,NaN,0,NaN,0,0,0,0,0,...,533772,37122,56252,23188,1138,134,22,0,0,0
4999,neg,616,6,58,54,0,0,0,0,0,...,4630,2268,4594,2760,2108,9308,64,0,0,0

In [8]:
df.isnull().sum().sum()

np.int64(0)

In [9]:
pd.options.display.max_rows=1000

In [10]:
pd.DataFrame(df.isnull().sum().sort_values(ascending=False), columns=["Null Value Count"])

        Null Value Count
class                  0
aa_000                 0
ab_000                 0
ac_000                 0
ad_000                 0
ae_000                 0
af_000                 0
ag_000                 0
ag_001                 0
ag_002                 0
ag_003                 0
ag_004                 0
ag_005                 0
ag_006                 0
ag_007                 0
ag_008                 0
ag_009                 0
ah_000                 0
ai_000                 0
aj_000                 0
ak_000                 0
al_000                 0
am_0                   0
an_000                 0
ao_000                 0
ap_000                 0
aq_000                 0
ar_000                 0
as_000                 0
at_000                 0
au_000                 0
av_000                 0
ax_000                 0
ay_000                 0
ay_001                 0
ay_002                 0
ay_003                 0
ay_004                 0
ay_005                 0
ay_006                 0
ay_007                 0
ay_008                 0
ay_009                 0
az_000                 0
az_001                 0
az_002                 0
az_003                 0
az_004                 0
az_005                 0
az_006                 0
az_007                 0
az_008                 0
az_009                 0
ba_000                 0
ba_001                 0
ba_002                 0
ba_003                 0
ba_004                 0
ba_005                 0
ba_006                 0
ba_007                 0
ba_008                 0
ba_009                 0
bb_000                 0
bc_000                 0
bd_000                 0
be_000                 0
bf_000                 0
bg_000                 0
bh_000                 0
bi_000                 0
bj_000                 0
bk_000                 0
bl_000                 0
bm_000                 0
bn_000                 0
bo_000                 0
bp_000                 0
bq_000                 0
br_000                 0
bs_000                 0
bt_000                 0
bu_000                 0
bv_000                 0
bx_000                 0
by_000                 0
bz_000                 0
ca_000                 0
cb_000                 0
cc_000                 0
cd_000                 0
ce_000                 0
cf_000                 0
cg_000                 0
ch_000                 0
ci_000                 0
cj_000                 0
ck_000                 0
cl_000                 0
cm_000                 0
cn_000                 0
cn_001                 0
cn_002                 0
cn_003                 0
cn_004                 0
cn_005                 0
cn_006                 0
cn_007                 0
cn_008                 0
cn_009                 0
co_000                 0
cp_000                 0
cq_000                 0
cr_000                 0
cs_000                 0
cs_001                 0
cs_002                 0
cs_003                 0
cs_004                 0
cs_005                 0
cs_006                 0
cs_007                 0
cs_008                 0
cs_009                 0
ct_000                 0
cu_000                 0
cv_000                 0
cx_000                 0
cy_000                 0
cz_000                 0
da_000                 0
db_000                 0
dc_000                 0
dd_000                 0
de_000                 0
df_000                 0
dg_000                 0
dh_000                 0
di_000                 0
dj_000                 0
dk_000                 0
dl_000                 0
dm_000                 0
dn_000                 0
do_000                 0
dp_000                 0
dq_000                 0
dr_000                 0
ds_000                 0
dt_000                 0
du_000                 0
dv_000                 0
dx_000                 0
dy_000                 0
dz_000                 0
ea_000                 0
eb_000                 0
ec_00                  0
ed_000                 0
ee_000                 0
ee_001                 0
ee_002                 0
ee_003                 0
ee_004                 0
ee_005                 0
ee_006                 0
ee_007                 0
ee_008                 0
ee_009                 0
ef_000                 0
eg_000                 0

In [11]:
import numpy as np
import pandas as pd

# Replace 'na' or 'NA' or similar string versions of missing values with np.nan
df = df.replace(['na', 'NA', 'Na', 'nan', 'NaN'], np.nan)

# Convert all numeric-looking columns from string to number (ignore errors for text columns)
df = df.apply(pd.to_numeric, errors='ignore')

# Now fill missing numeric columns with their median
for feature in [feature for feature in df.columns if feature not in ['class']]:
    if pd.api.types.is_numeric_dtype(df[feature]):
        df[feature] = df[feature].fillna(df[feature].median())

/tmp/ipython-input-3163017238.py:8: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [12]:
df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
au_000    0
av_000    0
ax_000    0
ay_000    0
ay_001    0
ay_002    0
ay_003    0
ay_004    0
ay_005    0
ay_006    0
ay_007    0
ay_008    0
ay_009    0
az_000    0
az_001    0
az_002    0
az_003    0
az_004    0
az_005    0
az_006    0
az_007    0
az_008    0
az_009    0
ba_000    0
ba_001    0
ba_002    0
ba_003    0
ba_004    0
ba_005    0
ba_006    0
ba_007    0
ba_008    0
ba_009    0
bb_000    0
bc_000    0
bd_000    0
be_000    0
bf_000    0
bg_000    0
bh_000    0
bi_000    0
bj_000    0
bk_000    0
bl_000    0
bm_000    0
bn_000    0
bo_000    0
bp_000    0
bq_000    0
br_000    0
bs_000    0
bt_000    0
bu_000    0
bv_000    0
bx_000    0
by_000    0
bz_000    0
ca_000    0
cb_000    0
cc_000    0
cd_000    0
ce_000    0
cf_000    0
cg_000    0
ch_000    0
ci_000    0
cj_000    0
ck_000    0
cl_000    0
cm_000    0
cn_000    0
cn_001    0
cn_002    0
cn_003    0
cn_004    0
cn_005    0
cn_006    0
cn_007    0
cn_008    0
cn_009    0
co_000    0
cp_000    0
cq_000    0
cr_000    0
cs_000    0
cs_001    0
cs_002    0
cs_003    0
cs_004    0
cs_005    0
cs_006    0
cs_007    0
cs_008    0
cs_009    0
ct_000    0
cu_000    0
cv_000    0
cx_000    0
cy_000    0
cz_000    0
da_000    0
db_000    0
dc_000    0
dd_000    0
de_000    0
df_000    0
dg_000    0
dh_000    0
di_000    0
dj_000    0
dk_000    0
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
dtype: int64

In [13]:
x=df.drop("class",axis=1)

In [14]:
y=df["class"]

In [15]:
y

0       neg
1       neg
2       neg
3       neg
4       neg
       ...
4995    neg
4996    neg
4997    neg
4998    neg
4999    neg
Name: class, Length: 5000, dtype: object

In [16]:
x.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 170 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    aa_000  5000 non-null   int64
 1    ab_000  5000 non-null   float64
 2    ac_000  5000 non-null   float64
 3    ad_000  5000 non-null   float64
 4    ae_000  5000 non-null   float64
 5    af_000  5000 non-null   float64
 6    ag_000  5000 non-null   float64
 7    ag_001  5000 non-null   float64
 8    ag_002  5000 non-null   float64
 9    ag_003  5000 non-null   float64
 10   ag_004  5000 non-null   float64
 11   ag_005  5000 non-null   float64
 12   ag_006  5000 non-null   float64
 13   ag_007  5000 non-null   float64
 14   ag_008  5000 non-null   float64
 15   ag_009  5000 non-null   float64
 16   ah_000  5000 non-null   float64
 17   ai_000  5000 non-null   float64
 18   aj_000  5000 non-null   float64
 19   ak_000  5000 non-null   float64
 20   al_000  5000 non-null   float64
 21   am_0    5000 non-null   float64
 22   an_000  5000 non-null   float64
 23   ao_000  5000 non-null   float64
 24   ap_000  5000 non-null   float64
 25   aq_000  5000 non-null   float64
 26   ar_000  5000 non-null   float64
 27   as_000  5000 non-null   float64
 28   at_000  5000 non-null   float64
 29   au_000  5000 non-null   float64
 30   av_000  5000 non-null   float64
 31   ax_000  5000 non-null   float64
 32   ay_000  5000 non-null   float64
 33   ay_001  5000 non-null   float64
 34   ay_002  5000 non-null   float64
 35   ay_003  5000 non-null   float64
 36   ay_004  5000 non-null   float64
 37   ay_005  5000 non-null   float64
 38   ay_006  5000 non-null   float64
 39   ay_007  5000 non-null   float64
 40   ay_008  5000 non-null   float64
 41   ay_009  5000 non-null   float64
 42   az_000  5000 non-null   float64
 43   az_001  5000 non-null   float64
 44   az_002  5000 non-null   float64
 45   az_003  5000 non-null   float64
 46   az_004  5000 non-null   float64
 47   az_005  5000 non-null   float64
 48   az_006  5000 non-null   float64
 49   az_007  5000 non-null   float64
 50   az_008  5000 non-null   float64
 51   az_009  5000 non-null   float64
 52   ba_000  5000 non-null   float64
 53   ba_001  5000 non-null   float64
 54   ba_002  5000 non-null   float64
 55   ba_003  5000 non-null   float64
 56   ba_004  5000 non-null   float64
 57   ba_005  5000 non-null   float64
 58   ba_006  5000 non-null   float64
 59   ba_007  5000 non-null   float64
 60   ba_008  5000 non-null   float64
 61   ba_009  5000 non-null   float64
 62   bb_000  5000 non-null   float64
 63   bc_000  5000 non-null   float64
 64   bd_000  5000 non-null   float64
 65   be_000  5000 non-null   float64
 66   bf_000  5000 non-null   float64
 67   bg_000  5000 non-null   float64
 68   bh_000  5000 non-null   float64
 69   bi_000  5000 non-null   float64
 70   bj_000  5000 non-null   float64
 71   bk_000  5000 non-null   float64
 72   bl_000  5000 non-null   float64
 73   bm_000  5000 non-null   float64
 74   bn_000  5000 non-null   float64
 75   bo_000  5000 non-null   float64
 76   bp_000  5000 non-null   float64
 77   bq_000  5000 non-null   float64
 78   br_000  5000 non-null   float64
 79   bs_000  5000 non-null   float64
 80   bt_000  5000 non-null   float64
 81   bu_000  5000 non-null   float64
 82   bv_000  5000 non-null   float64
 83   bx_000  5000 non-null   float64
 84   by_000  5000 non-null   float64
 85   bz_000  5000 non-null   float64
 86   ca_000  5000 non-null   float64
 87   cb_000  5000 non-null   float64
 88   cc_000  5000 non-null   float64
 89   cd_000  5000 non-null   float64
 90   ce_000  5000 non-null   float64
 91   cf_000  5000 non-null   float64
 92   cg_000  5000 non-null   float64
 93   ch_000  5000 non-null   float64
 94   ci_000  5000 non-null   float64
 95   cj_000  5000 non-null   float64
 96   ck_000  5000 non-null   float64
 97   cl_000  5000 non-null   float64
 98   cm_000  5000 non-null   float64
 99   cn_000  5000 non-null   float64
 100  cn_001  5000 non-null   float64
 101  cn_002  5000 non-null   float64
 102  cn_003  5000 non-null   float64
 103  cn_004  5000 non-null   float64
 104  cn_005  5000 non-null   float64
 105  cn_006  5000 non-null   float64
 106  cn_007  5000 non-null   float64
 107  cn_008  5000 non-null   float64
 108  cn_009  5000 non-null   float64
 109  co_000  5000 non-null   float64
 110  cp_000  5000 non-null   float64
 111  cq_000  5000 non-null   float64
 112  cr_000  5000 non-null   float64
 113  cs_000  5000 non-null   float64
 114  cs_001  5000 non-null   float64
 115  cs_002  5000 non-null   float64
 116  cs_003  5000 non-null   float64
 117  cs_004  5000 non-null   float64
 118  cs_005  5000 non-null   float64
 119  cs_006  5000 non-null   float64
 120  cs_007  5000 non-null   float64
 121  cs_008  5000 non-null   float64
 122  cs_009  5000 non-null   float64
 123  ct_000  5000 non-null   float64
 124  cu_000  5000 non-null   float64
 125  cv_000  5000 non-null   float64
 126  cx_000  5000 non-null   float64
 127  cy_000  5000 non-null   float64
 128  cz_000  5000 non-null   float64
 129  da_000  5000 non-null   float64
 130  db_000  5000 non-null   float64
 131  dc_000  5000 non-null   float64
 132  dd_000  5000 non-null   float64
 133  de_000  5000 non-null   float64
 134  df_000  5000 non-null   float64
 135  dg_000  5000 non-null   float64
 136  dh_000  5000 non-null   float64
 137  di_000  5000 non-null   float64
 138  dj_000  5000 non-null   float64
 139  dk_000  5000 non-null   float64
 140  dl_000  5000 non-null   float64
 141  dm_000  5000 non-null   float64
 142  dn_000  5000 non-null   float64
 143  do_000  5000 non-null   float64
 144  dp_000  5000 non-null   float64
 145  dq_000  5000 non-null   float64
 146  dr_000  5000 non-null   float64
 147  ds_000  5000 non-null   float64
 148  dt_000  5000 non-null   float64
 149  du_000  5000 non-null   float64
 150  dv_000  5000 non-null   float64
 151  dx_000  5000 non-null   float64
 152  dy_000  5000 non-null   float64
 153  dz_000  5000 non-null   float64
 154  ea_000  5000 non-null   float64
 155  eb_000  5000 non-null   float64
 156  ec_00   5000 non-null   float64
 157  ed_000  5000 non-null   float64
 158  ee_000  5000 non-null   float64
 159  ee_001  5000 non-null   float64
 160  ee_002  5000 non-null   float64
 161  ee_003  5000 non-null   float64
 162  ee_004  5000 non-null   float64
 163  ee_005  5000 non-null   float64
 164  ee_006  5000 non-null   float64
 165  ee_007  5000 non-null   float64
 166  ee_008  5000 non-null   float64
 167  ee_009  5000 non-null   float64
 168  ef_000  5000 non-null   float64
 169  eg_000  5000 non-null   float64
dtypes: float64(169), int64(1)
memory usage: 6.5 MB

In [17]:
y

0       neg
1       neg
2       neg
3       neg
4       neg
       ...
4995    neg
4996    neg
4997    neg
4998    neg
4999    neg
Name: class, Length: 5000, dtype: object

In [18]:
y

0       neg
1       neg
2       neg
3       neg
4       neg
       ...
4995    neg
4996    neg
4997    neg
4998    neg
4999    neg
Name: class, Length: 5000, dtype: object

In [19]:
pd.get_dummies(y,drop_first=True)

        pos
0     False
1     False
2     False
3     False
4     False
...     ...
4995  False
4996  False
4997  False
4998  False
4999  False

[5000 rows x 1 columns]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 170)
(1000, 170)
(4000,)
(1000,)

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [41]:
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [42]:
classifier=Sequential()
classifier.add(Dense(units=10,kernel_initializer="he_uniform",activation="relu",input_dim=170))
classifier.add(Dense(units=10,kernel_initializer="he_uniform",activation="relu"))
classifier.add(Dense(units=1,kernel_initializer="glorot_uniform",activation="sigmoid"))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [43]:
classifier.compile(optimizer='adam',loss="binary_crossentropy",metrics=["accuracy"])

In [44]:
classifier.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 10)             │         1,710 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 10)             │           110 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,831 (7.15 KB)

 Trainable params: 1,831 (7.15 KB)

 Non-trainable params: 0 (0.00 B)

In [46]:
# One-hot encode the target variable
y_train_encoded = pd.get_dummies(y_train, drop_first=True)
y_test_encoded = pd.get_dummies(y_test, drop_first=True)

model_histroy=classifier.fit(x_train,y_train_encoded,batch_size=10,epochs=20,validation_split=0.25)

Epoch 1/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9986 - loss: 0.0040 - val_accuracy: 0.9990 - val_loss: 0.0035
Epoch 2/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9983 - loss: 0.0064 - val_accuracy: 0.9990 - val_loss: 0.0039
Epoch 3/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9989 - loss: 0.0040 - val_accuracy: 0.9980 - val_loss: 0.0056
Epoch 4/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9992 - loss: 0.0030 - val_accuracy: 0.9980 - val_loss: 0.0069
Epoch 5/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9994 - loss: 0.0021 - val_accuracy: 0.9960 - val_loss: 0.0071
Epoch 6/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9991 - loss: 0.0039 - val_accuracy: 0.9970 - val_loss: 0.0075
Epoch 7/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9973 - loss: 0.0093 - val_accuracy: 0.9960 - val_loss: 0.0162
Epoch 8/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9991 - loss: 0.0044 - val_accuracy: 0.9980 - val_loss: 0.0092
Epoch 9/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9992 - loss: 0.0041 - val_accuracy: 0.9970 - val_loss: 0.0085
Epoch 10/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9999 - loss: 0.0015 - val_accuracy: 0.9970 - val_loss: 0.0096
Epoch 11/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9999 - loss: 0.0011 - val_accuracy: 0.9950 - val_loss: 0.0098
Epoch 12/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9929 - loss: 0.0196 - val_accuracy: 0.9920 - val_loss: 0.0164
Epoch 13/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9978 - loss: 0.0084 - val_accuracy: 0.9920 - val_loss: 0.0142
Epoch 14/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9999 - loss: 0.0018 - val_accuracy: 0.9930 - val_loss: 0.0165
Epoch 15/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9997 - loss: 0.0018 - val_accuracy: 0.9940 - val_loss: 0.0150
Epoch 16/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 1.0000 - loss: 7.8606e-04 - val_accuracy: 0.9940 - val_loss: 0.0181
Epoch 17/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9997 - loss: 0.0016 - val_accuracy: 0.9950 - val_loss: 0.0160
Epoch 18/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9996 - loss: 0.0020 - val_accuracy: 0.9930 - val_loss: 0.0152
Epoch 19/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9987 - loss: 0.0041 - val_accuracy: 0.9940 - val_loss: 0.0181
Epoch 20/20
300/300 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.9998 - loss: 0.0010 - val_accuracy: 0.9940 - val_loss: 0.0238

In [48]:
model_histroy.history.keys()

dict_keys(['accuracy', 'loss', 'val_accuracy', 'val_loss'])

In [51]:
model_histroy.history["accuracy"]

[0.9976666569709778,
 0.9983333349227905,
 0.9990000128746033,
 0.9986666440963745,
 0.9990000128746033,
 0.9993333220481873,
 0.996666669845581,
 0.9986666440963745,
 0.9993333220481873,
 0.9993333220481873,
 0.9993333220481873,
 0.9940000176429749,
 0.9980000257492065,
 0.999666690826416,
 0.999666690826416,
 0.999666690826416,
 0.999666690826416,
 0.999666690826416,
 0.999666690826416,
 0.999666690826416]