<a href="https://colab.research.google.com/github/tasnim-shamsuddin/Deep-Learning-/blob/main/DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf
print(tf.__version__)

2.19.0

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df=pd.read_csv("/content/aps_data.csv")

/tmp/ipython-input-1916298888.py:1: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/aps_data.csv")

In [7]:
! git clone https://github.com/tasnim-shamsuddin/Deep-Learning-.git

Cloning into 'Deep-Learning-'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 12 (delta 0), reused 9 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (12/12), 5.31 KiB | 2.66 MiB/s, done.

In [8]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [9]:
df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [10]:
df.replace("na",np.nan)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,NaN,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,NaN,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,NaN,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,neg,31394,NaN,0,NaN,0,0,0,0,0,...,393008,207182,367634,267778,106778,48688,57146,638,0,0
4996,neg,1598,NaN,0,NaN,0,0,0,0,0,...,5298,3164,9710,47042,2296,1098,3288,272,0,0
4997,neg,42,2,2130706454,56,0,0,0,0,0,...,660,272,334,76,14,0,0,0,0,0
4998,neg,32752,NaN,0,NaN,0,0,0,0,0,...,533772,37122,56252,23188,1138,134,22,0,0,0
4999,neg,616,6,58,54,0,0,0,0,0,...,4630,2268,4594,2760,2108,9308,64,0,0,0

In [11]:
df.isnull().sum().sum()

np.int64(0)

In [12]:
pd.options.display.max_rows=1000

In [13]:
pd.DataFrame(df.isnull().sum().sort_values(ascending=False), columns=["Null Value Count"])

        Null Value Count
class                  0
aa_000                 0
ab_000                 0
ac_000                 0
ad_000                 0
ae_000                 0
af_000                 0
ag_000                 0
ag_001                 0
ag_002                 0
ag_003                 0
ag_004                 0
ag_005                 0
ag_006                 0
ag_007                 0
ag_008                 0
ag_009                 0
ah_000                 0
ai_000                 0
aj_000                 0
ak_000                 0
al_000                 0
am_0                   0
an_000                 0
ao_000                 0
ap_000                 0
aq_000                 0
ar_000                 0
as_000                 0
at_000                 0
au_000                 0
av_000                 0
ax_000                 0
ay_000                 0
ay_001                 0
ay_002                 0
ay_003                 0
ay_004                 0
ay_005                 0
ay_006                 0
ay_007                 0
ay_008                 0
ay_009                 0
az_000                 0
az_001                 0
az_002                 0
az_003                 0
az_004                 0
az_005                 0
az_006                 0
az_007                 0
az_008                 0
az_009                 0
ba_000                 0
ba_001                 0
ba_002                 0
ba_003                 0
ba_004                 0
ba_005                 0
ba_006                 0
ba_007                 0
ba_008                 0
ba_009                 0
bb_000                 0
bc_000                 0
bd_000                 0
be_000                 0
bf_000                 0
bg_000                 0
bh_000                 0
bi_000                 0
bj_000                 0
bk_000                 0
bl_000                 0
bm_000                 0
bn_000                 0
bo_000                 0
bp_000                 0
bq_000                 0
br_000                 0
bs_000                 0
bt_000                 0
bu_000                 0
bv_000                 0
bx_000                 0
by_000                 0
bz_000                 0
ca_000                 0
cb_000                 0
cc_000                 0
cd_000                 0
ce_000                 0
cf_000                 0
cg_000                 0
ch_000                 0
ci_000                 0
cj_000                 0
ck_000                 0
cl_000                 0
cm_000                 0
cn_000                 0
cn_001                 0
cn_002                 0
cn_003                 0
cn_004                 0
cn_005                 0
cn_006                 0
cn_007                 0
cn_008                 0
cn_009                 0
co_000                 0
cp_000                 0
cq_000                 0
cr_000                 0
cs_000                 0
cs_001                 0
cs_002                 0
cs_003                 0
cs_004                 0
cs_005                 0
cs_006                 0
cs_007                 0
cs_008                 0
cs_009                 0
ct_000                 0
cu_000                 0
cv_000                 0
cx_000                 0
cy_000                 0
cz_000                 0
da_000                 0
db_000                 0
dc_000                 0
dd_000                 0
de_000                 0
df_000                 0
dg_000                 0
dh_000                 0
di_000                 0
dj_000                 0
dk_000                 0
dl_000                 0
dm_000                 0
dn_000                 0
do_000                 0
dp_000                 0
dq_000                 0
dr_000                 0
ds_000                 0
dt_000                 0
du_000                 0
dv_000                 0
dx_000                 0
dy_000                 0
dz_000                 0
ea_000                 0
eb_000                 0
ec_00                  0
ed_000                 0
ee_000                 0
ee_001                 0
ee_002                 0
ee_003                 0
ee_004                 0
ee_005                 0
ee_006                 0
ee_007                 0
ee_008                 0
ee_009                 0
ef_000                 0
eg_000                 0

In [16]:
import numpy as np
import pandas as pd

# Replace 'na' or 'NA' or similar string versions of missing values with np.nan
df = df.replace(['na', 'NA', 'Na', 'nan', 'NaN'], np.nan)

# Convert all numeric-looking columns from string to number (ignore errors for text columns)
df = df.apply(pd.to_numeric, errors='ignore')

# Now fill missing numeric columns with their median
for feature in [feature for feature in df.columns if feature not in ['class']]:
    if pd.api.types.is_numeric_dtype(df[feature]):
        df[feature] = df[feature].fillna(df[feature].median())

/tmp/ipython-input-3163017238.py:8: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [18]:
df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
ak_000    0
al_000    0
am_0      0
an_000    0
ao_000    0
ap_000    0
aq_000    0
ar_000    0
as_000    0
at_000    0
au_000    0
av_000    0
ax_000    0
ay_000    0
ay_001    0
ay_002    0
ay_003    0
ay_004    0
ay_005    0
ay_006    0
ay_007    0
ay_008    0
ay_009    0
az_000    0
az_001    0
az_002    0
az_003    0
az_004    0
az_005    0
az_006    0
az_007    0
az_008    0
az_009    0
ba_000    0
ba_001    0
ba_002    0
ba_003    0
ba_004    0
ba_005    0
ba_006    0
ba_007    0
ba_008    0
ba_009    0
bb_000    0
bc_000    0
bd_000    0
be_000    0
bf_000    0
bg_000    0
bh_000    0
bi_000    0
bj_000    0
bk_000    0
bl_000    0
bm_000    0
bn_000    0
bo_000    0
bp_000    0
bq_000    0
br_000    0
bs_000    0
bt_000    0
bu_000    0
bv_000    0
bx_000    0
by_000    0
bz_000    0
ca_000    0
cb_000    0
cc_000    0
cd_000    0
ce_000    0
cf_000    0
cg_000    0
ch_000    0
ci_000    0
cj_000    0
ck_000    0
cl_000    0
cm_000    0
cn_000    0
cn_001    0
cn_002    0
cn_003    0
cn_004    0
cn_005    0
cn_006    0
cn_007    0
cn_008    0
cn_009    0
co_000    0
cp_000    0
cq_000    0
cr_000    0
cs_000    0
cs_001    0
cs_002    0
cs_003    0
cs_004    0
cs_005    0
cs_006    0
cs_007    0
cs_008    0
cs_009    0
ct_000    0
cu_000    0
cv_000    0
cx_000    0
cy_000    0
cz_000    0
da_000    0
db_000    0
dc_000    0
dd_000    0
de_000    0
df_000    0
dg_000    0
dh_000    0
di_000    0
dj_000    0
dk_000    0
dl_000    0
dm_000    0
dn_000    0
do_000    0
dp_000    0
dq_000    0
dr_000    0
ds_000    0
dt_000    0
du_000    0
dv_000    0
dx_000    0
dy_000    0
dz_000    0
ea_000    0
eb_000    0
ec_00     0
ed_000    0
ee_000    0
ee_001    0
ee_002    0
ee_003    0
ee_004    0
ee_005    0
ee_006    0
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
dtype: int64

In [19]:
x=df.drop("class",axis=1)

In [20]:
y=df["class"]